<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/forms/forms-styles.css">

    <title>ALTA DE DEPENDENCIA</title>
</head>
<body>
    <h1 class="form-tittle">FORMULARIO DE ALTA DE DEPENDENCIA</h1>    
    <form class="form" action="">
        <div class="form-div">
            <label class="form-label" for="">DEPENDENCIA: </label>
            <input class="form-input" type="text">
        </div>
        <div class="form-div">
            <label class="form-label" for="">E-MAIL: </label>
            <input class="form-input" type="email">
        </div>
        <div class="form-div">
            <label class="form-label" for="">PISO: </label>
            <input class="form-input" type="email">
        </div>
        <div class="form-div">
            <label class="form-label" for="">LADO: </label>
            <input class="form-input" type="text">
        </div>
        <div class="form-div">
            <button class="form-button" type="submit">CREAR</button>
            <button class="form-button" type="reset">BORRAR</button>
        </div>
    </form>
</body>
</html>